<div class="row ">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title"></h5>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12" *ngIf="!(tableData.dataRows.length === 0) && !tableLoading">
                        <table [dtOptions]="dtOptions" datatable class="table table-hover" style="width:100%">
                            <thead>
                                <tr align="center">
                                    <th>Data</th>
                                    <th>Usuário</th>
                                    <th>Pasta</th>
                                    <th>Contrato</th>
                                    <th>Data Simulação</th>
                                    <th>Índice</th>
                                    <th>Deágio</th>
                                    <th>Honorários</th>
                                    <th>Multa</th>
                                    <th>Juros Mora</th>
                                    <th>Data Amortização</th>
                                    <th>Valor Amortização</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData.dataRows" align="center">
                                    <td>{{formatDate(row.valorNoVencimento)}}</td>
                                    <td>{{row.usuario}</td>
                                    <td>{{row.pasta}</td>
                                    <td>{{row.contrato}</td>
                                    <td>{{formatDate(row.dataSimulacao)}}</td>
                                    <td>{{row.indice}</td>
                                    <td>{{formatCurrency(row.desagio)}}</td>
                                    <td>{{formatCurrency(row.honorarios)}}</td>
                                    <td>{{formatCurrency(row.multa)}}</td>
                                    <td>{{formatCurrency(row.jurosMora)}}</td>
                                    <td>{{formatDate(row.dataAmortizacao)}}</td>
                                    <td>{{formatCurrency(row.valorAmortizacao)}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>