<div class="row ">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title"></h5>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12">
                        <form class="row" [formGroup]="logForm">
                            <div class="col-sm-3">
                                <label for="log_pasta" class="col-form-label">Pasta</label>
                                <select class="form-control custom-select col-md-12 col-sm-12" name="log_pasta"
                                    id="log_pasta" formControlName="log_pasta" (change)="setContrato()">
                                    <option *ngFor="let folder of folderData_field" [value]="folder">
                                        {{folder}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="log_contrato" class="col-form-label">Contrato</label>
                                <select class="form-control custom-select col-md-12 col-sm-12" name="log_contrato"
                                    id="log_contrato" formControlName="log_contrato" required
                                    (change)="setTypeContract()">
                                    <option *ngFor="let contract of contractList_field" [value]="contract">
                                        {{contract}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="nome" class="col-form-label">Tipo de Contrato</label>
                                <select class="form-control custom-select col-md-12 col-sm-12" name="log_tipo_contrato"
                                    id="log_tipo_contrato" formControlName="log_tipo_contrato">
                                    <option *ngFor="let typeContract of typeContractList_field" [value]="typeContract">
                                        {{typeContract}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <br />
                                <div class="stats">
                                    <button type="button" (click)="pesquisarContratos()" class="btn btn-info btn-round"
                                        [disabled]="!logForm.valid || tableLoading">Pesquisar</button>
                                    <div class="d-flex justify-content-center" *ngIf="tableLoading"
                                        style="position: absolute; top: 33px; right: 80px">
                                        <div class="spinner-grow text-primary" style="width: 2rem; height: 2rem;"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="!(tableData.dataRows.length === 0) && !tableLoading">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title"></h5>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12">
                        <table [dtOptions]="dtOptions" datatable class="table table-hover" style="width:100%" id="tableLog" >
                            <thead>
                                <tr align="center">
                                    <th></th>
                                    <th>Data</th>
                                    <th>Usuário</th>
                                    <th>Pasta</th>
                                    <th>Contrato</th>
                                    <th>Tipo deContrato</th>
                                    <th>Data Simulação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData.dataRows" align="center">
                                    <td (click)="infoTable($event, row)" ><i style="color: green; cursor: pointer;"
                                            class="nc-icon nc-simple-add "></i></td>
                                    <td>{{formatDate(row.data)}}</td>
                                    <td>{{row.usuario}}</td>
                                    <td>{{row.pasta}}</td>
                                    <td>{{row.contrato}}</td>
                                    <td>{{row.tipoContrato}}</td>
                                    <td>{{formatDate(row.dataSimulacao)}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>