<div>
    <form class="row" [formGroup]="peForm">
        <div class="col-sm-3">
            <label for="pasta" class="col-form-label">Pasta</label>
            <ng-select  [items]="folderData_field" bindLabel="pasta" placeholder="Selecione a pasta" appendTo="body"
                 formControlName="pasta" (change)="setContrato()">
            </ng-select>

        </div>
        <div class="col-sm-3">
            <label for="contrato" class="col-form-label">Contrato</label>
            <ng-select [items]="contractList_field" bindLabel="contrato" placeholder="Selecione o contrato"
                appendTo="body"  formControlName="contrato" (change)="setTypeContract()">
            </ng-select>
        </div>
        <div class="col-sm-3">
            <label for="nome" class="col-form-label">Tipo de Contrato</label>
            <ng-select [items]="typeContractList_field" bindLabel="tipo_contrato"
                placeholder="Selecione o tipo de contrato" appendTo="body" 
                formControlName="tipo_contrato">
            </ng-select>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="stats">
                <button type="button" (click)="setContractRef()" class="btn btn-info btn-round"
                    [disabled]="!peForm.valid || tableLoading">Pesquisar</button>
                <div class="d-flex justify-content-center" *ngIf="tableLoading"
                    style="position: absolute; top: 33px; right: 80px">
                    <div class="spinner-grow text-primary" style="width: 2rem; height: 2rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>