
.footer-table {
    background-color: #e9ecef;
    text-align: center;
}

.footer-title-table {
    text-align: left;
}

.alert-parcelas {
    position: fixed; 
    right: 10px; 
    top: 10px; 
    z-index: 999
}

.parcelado-font-size {
    font-size: 11px !important;
}

.parcelas-vincendas {
    background-color: #f4f3ef !important;
}