/* You can add global styles to this file, and also import other style files */


td:focus {
    outline: none;
    border: 2px solid #51cbce !important;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}
table, th, td {
    border: 1px solid #dee2e6 !important;
}
table.dataTable {
    border-collapse: collapse !important;
}

/* override table controls */
.dataTables_wrapper .dataTables_filter input {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 5px;
    color: #66615b;
    line-height: normal;
    font-size: 14px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_desc {
    background-image: none;
    font-weight: normal !important;
}

table.dataTable thead .sorting_asc {
    background-image: none;
    font-weight: bold;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f4f3ef;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9a9a9a;
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
  }