/* You can add global styles to this file, and also import other style files */


td:focus {
    outline: none;
    border: 2px solid #51cbce !important;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}