<div class="row ">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Cheque Empresarial / Conta Garantida</h5>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12">
                        <form class="row" [formGroup]="ceForm">
                            <div class="col-sm-3">
                                <label for="ce_pasta" class="col-form-label">Pasta</label>
                                <select class="form-control custom-select col-md-12 col-sm-12" name="ce_pasta"
                                    id="ce_pasta" formControlName="ce_pasta">
                                    <option *ngFor="let folder of folderData_field" [value]="folder">
                                        {{folder}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="ce_contrato" class="col-form-label">Contrato</label>
                                <select class="form-control custom-select col-md-12 col-sm-12" name="ce_contrato"
                                    id="ce_contrato" formControlName="ce_contrato" required>
                                    <option *ngFor="let contract of contractList_field" [value]="contract.id">
                                        {{contract.title}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="nome" class="col-form-label">Tipo de Contrato</label>
                                <select class="form-control custom-select col-md-12 col-sm-12" name="ce_tipo_contrato"
                                    id="ce_tipo_contrato" formControlName="ce_tipo_contrato">
                                    <option *ngFor="let typeContract of typeContractList_field" [value]="typeContract">
                                        {{typeContract}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <br />
                                <div class="stats">
                                    <button type="button" (click)="filterContracts()" class="btn btn-info btn-round"
                                        [disabled]="!ceForm.valid">Pesquisar</button>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-3 mt-3">
                                <hr>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <form class="row" [formGroup]="ceFormRiscos">

                            <div class="col-md-3 col-sm-12">
                                <label for="nome" class="col-form-label">Última Atualização</label>
                                <input type="date" class="form-control col-md-11 col-sm-12" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="nome" class="col-form-label">Data do Cálculo</label>
                                <input type="date" class=" form-control col-md-11 col-sm-12" name="ce_data_calculo"
                                    id="ce_data_calculo" formControlName="ce_data_calculo">
                            </div>
                            <div class="col-md-3 col-sm-12">
                            </div>
                            <div class="col-md-3 col-sm-12">
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="ce_indice" class="col-form-label">Indice</label>
                                <select class="form-control custom-select col-md-12 col-sm-12" name="ce_indice"
                                    id="ce_indice" formControlName="ce_indice">
                                    <option *ngFor="let indice of indice_field" [value]="indice.type">
                                        {{indice.type}}</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-12"
                                [hidden]="ce_form_riscos.ce_indice.value !== 'Encargos Contratuais %'">
                                <label for="nome" class="col-form-label">Encargos Contratuais %</label>
                                <input type="number" (change)="verifyNumber($event)" min="0"
                                    class="form-control col-md-11 col-sm-12 " name="ce_encargos_contratuais"
                                    id="ce_encargos_contratuais" formControlName="ce_encargos_contratuais">
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="nome" class="col-form-label">Multa %</label>
                                <input type="number" (change)="verifyNumber($event)" min="0"
                                    class="form-control col-md-11 col-sm-12" name="ce_multa" id="ce_multa"
                                    formControlName="ce_multa" value>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="nome" class="col-form-label">Juros Mora %</label>
                                <input type="number" (change)="verifyNumber($event)" min="0"
                                    class="form-control col-md-11 col-sm-12" name="ce_juros_mora" id="ce_juros_mora"
                                    formControlName="ce_juros_mora">
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="nome" class="col-form-label">Honorários</label>
                                <input type="number" (change)="verifyNumber($event)" min="0"
                                    class="form-control col-md-11 col-sm-12" name="ce_honorarios" id="ce_honorarios"
                                    formControlName="ce_honorarios">
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="nome" class="col-form-label">Multa sob contrato</label>
                                <input type="number" (change)="verifyNumber($event)" min="0"
                                    class="form-control col-md-11 col-sm-12" name="ce_multa_sobre_constrato"
                                    id="ce_multa_sobre_constrato" formControlName="ce_multa_sobre_constrato">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-sm-12 form-inline mt-3">
                        <div class="stats form-group mb-2">
                            <button type="button" [disabled]="true" class="btn btn-info btn-round">Atualizar
                                Risco</button>
                        </div>
                        <div class="stats form-group mb-2 ml-md-2">
                            <button type="button" [disabled]="!(tableData.dataRows.length > 0)" (click)="simularCalc()"
                                class="btn btn-info btn-round">Simular Cálculo</button>
                        </div>


                        <div class="col-lg-12  mt-3">
                            <hr>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12">
                        <form class="row" [formGroup]="ceFormAmortizacao">
                            <div class="col-md-4 col-sm-12">
                                <label for="nome" class="col-form-label">Data Vencimento</label>
                                <input *ngIf="(tableData.dataRows.length === 0)" type="date"
                                    class="form-control col-md-12 col-sm-12" name="ceFA_data_vencimento"
                                    id="ceFA_data_vencimento" formControlName="ceFA_data_vencimento" max="3000-12-31"
                                    min="1000-01-01">
                                <p *ngIf="!(tableData.dataRows.length === 0)">
                                    {{formatDate(tableData.dataRows[0])}}
                                </p>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label for="nome" class="col-form-label">Saldo Devedor</label>
                                <input *ngIf="(tableData.dataRows.length === 0)" type="number"
                                    (change)="verifyNumber($event)" min="0" class="form-control col-md-12 col-sm-12"
                                    name="ceFa_saldo_devedor" style="height: 35px" id="ceFa_saldo_devedor"
                                    formControlName="ceFa_saldo_devedor">
                                <p *ngIf="!(tableData.dataRows.length === 0)">
                                    R$ {{tableData.dataRows[0]["valorDevedor"]}}
                                </p>
                            </div>
                            <div class="col-md-4 col-sm-12">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label for="nome" class="col-form-label">Data Base Atual</label>
                                <input type="date" class="form-control col-md-12 col-sm-12" name="ceFA_data_base_atual"
                                    id="ceFA_data_base_atual" formControlName="ceFA_data_base_atual">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label for="nome" class="col-form-label">Valor Lançamento</label>
                                <input type="number" (change)="verifyNumber($event)" min="0"
                                    class="form-control col-md-12 col-sm-12" name="ceFA_valor_lancamento"
                                    style="height: 35px" id="ceFA_valor_lancamento"
                                    formControlName="ceFA_valor_lancamento">
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <fieldset class="form-group ml-sm-3">
                                    <div class="form-group row">
                                        <legend class="col-form-label">
                                            <label class="form-check-label" for="profile2">Tipo de Lançamento</label>
                                        </legend>
                                        <div class="col-sm-7 ml-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="ceFA_tipo_lancamento"
                                                    formControlName="ceFA_tipo_lancamento" id="status1"
                                                    [value]="'credit'">
                                                <label class="form-check-label" for="status1" style="margin: -30px">
                                                    Crédito
                                                </label>
                                            </div>
                                            <div class="form-check ">
                                                <input class="form-check-input" type="radio" name="ceFA_tipo_lancamento"
                                                    formControlName="ceFA_tipo_lancamento" id="status2"
                                                    [value]="'debit'">
                                                <label class="form-check-label" for="status2" style="margin: -30px">
                                                    Débito
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-2 col-sm-12"
                                *ngIf="ce_form_amortizacao.ceFA_tipo_lancamento.value === 'credit'">
                                <fieldset class="form-group ml-sm-3">
                                    <div class="form-group row">
                                        <legend class="col-form-label">
                                            <label class="form-check-label" for="profile2">Amortização</label>
                                        </legend>
                                        <div class="col-sm-7 ml-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                    name="ceFA_tipo_amortizacao" formControlName="ceFA_tipo_amortizacao"
                                                    id="status3" [value]="true">
                                                <label class="form-check-label" for="status3" style="margin: -30px">
                                                    Ínicio
                                                </label>
                                            </div>
                                            <div class="form-check ">
                                                <input class="form-check-input" type="radio"
                                                    name="ceFA_tipo_amortizacao" formControlName="ceFA_tipo_amortizacao"
                                                    id="status4" [value]="false">
                                                <label class="form-check-label" for="status4" style="margin: -30px">
                                                    Fim
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="col-lg-12" style="padding: 0">
                            <div class="stats" style="margin-top: -50px">
                                <button type="button" (click)="incluirLancamentos()" class="btn btn-info btn-round"
                                    [disabled]="!ceFormAmortizacao.valid">Incluir
                                    Lançamentos</button>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="d-flex justify-content-center" *ngIf="tableLoading && (tableData.dataRows.length === 0)">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 pt-0" *ngIf="!(tableData.dataRows.length === 0)">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Lista de Lançamentos</h4>
                    </div>
                    <div class="card-body" style="max-height: 100vh;overflow: scroll;">
                        <table [dtOptions]="dtOptions" datatable class="table table-hover"
                            *ngIf="tableData && tableData.dataRows && !tableLoading">
                            <thead>
                                <tr align="center">
                                    <th colspan="3"></th>
                                    <th colspan="4"></th>
                                    <th width="400" colspan="4">Encargos Monetários</th>
                                    <th colspan="2">
                                    </th>
                                </tr>
                                <tr align="center">
                                    <th class="align-title-top" rowspan="2">Data Base</th>
                                    <th class="align-title-top" rowspan="2">Indíce</th>
                                    <th class="align-title-top" rowspan="2">Indíce Data Base</th>
                                    <th class="align-title-top" rowspan="2">Data Base Atual</th>
                                    <th class="align-title-top" rowspan="2">Indíce</th>
                                    <th class="align-title-top" rowspan="2">Indíce Data Base Atual</th>
                                    <th class="align-title-top" rowspan="2">Valor devedor</th>

                                    <th width="100" rowspan="2">Correção pelo indíce</th>

                                    <th colspan="2">Juros a.m.</th>

                                    <th width="100" rowspan="2">Multa</th>

                                    <th class="align-title-top" rowspan="2">Lançamentos</th>
                                    <th class="align-title-top"
                                        rowspan="2">Valor devedor atualizado</th>
                                </tr>
                                <tr align="center">
                                    <th>Dias</th>
                                    <th>Juros %</th>
                                    <!-- <th>R$</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData.dataRows" style="font-size: 12px;" align="center">
                                    <td>
                                        {{formatDate(row)}}
                                    </td>
                                    <td width="100">
                                        <select class="form-control custom-select" name="ce_indice" id="ce_indice"
                                            (change)="updateInlineIndice($event, row, 'indiceDB', 'indiceDataBase')">
                                            <option *ngFor="let indice of indice_field" [value]="indice.type"
                                                [selected]="ce_form_riscos.ce_indice.value === indice.type || indice.type === row.indiceDB">
                                                {{indice.type}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        {{row.indiceDataBase || getIndiceDataBase(ce_form_riscos.ce_indice.value)}}
                                    </td>
                                    <td width="120">
                                        <input type="date" class="form-control col-md-11 col-sm-12"
                                            name="ce_data_calculo" id="ce_data_calculo" max="3000-12-31"
                                            min="1000-01-01" [value]="row.dataBaseAtual"
                                            (change)="changeDate($event, row)">
                                    </td>
                                    <td width="100">
                                        <select class="form-control custom-select" name="ce_indice" id="ce_indice"
                                            (change)="updateInlineIndice($event, row, 'indiceBA', 'indiceDataBaseAtual')">
                                            <option *ngFor="let indice of indice_field" [value]="indice.type"
                                                [selected]="ce_form_riscos.ce_indice.value === indice.type || indice.type === row.indiceBA">
                                                {{indice.type}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        {{row.indiceDataBaseAtual || getIndiceDataBase(ce_form_riscos.ce_indice.value)}}
                                    </td>
                                    <td>
                                        {{formatCurrency(row.valorDevedor)}}
                                    </td>
                                    <td>
                                        {{formatCurrency(row.encargosMonetarios.correcaoPeloIndice)}}
                                    </td>
                                    <td>
                                        {{row.encargosMonetarios.jurosAm.dias || 0}}
                                    </td>
                                    <td>
                                        {{formatCurrency(row.encargosMonetarios.jurosAm.percentsJuros)}}
                                    </td>
                                    <!-- <td width="30">
                                        {{row.encargosMonetarios.jurosAm.moneyValue}}
                                    </td> -->
                                    <td>
                                        {{formatCurrency(row.encargosMonetarios.multa)}}
                                    </td>
                                    <td>
                                        {{row.tipoLancamento  === 'debit' ? formatCurrency(row.lancamentos) : "(" + formatCurrency(row.lancamentos) + ")"}}
                                    </td>
                                    <td>
                                        {{formatCurrency(row.valorDevedorAtualizado)}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center" *ngIf="tableLoading" style="padding: 200px">
                            <div class="spinner-grow text-primary" style="width: 4rem; height: 4rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" *ngIf="tableData.dataRows.length > 0 && !tableLoading">
                        <div class="row">
                            <div class="col-md-10">
                                <p>Subtotal apurado em</p>
                                <p>Honorários {{ce_form_riscos.ce_honorarios.value || 0}}%</p>
                                <p>Multa Sob Contrato {{ce_form_riscos.ce_multa.value || 0}}%</p>
                                <p>TOTAL APURADO EM {{total_data_calculo || "---------"}}</p>
                            </div>
                            <div class="col-md-2">
                                <!-- <p>{{formatCurrency(total_subtotal)}}</p> -->
                                <p>{{total_date_now || "---------"}}</p>
                                <p>{{formatCurrency(total_honorarios || 0)}}</p>
                                <p>{{formatCurrency(total_multa_sob_contrato || 0)}}</p>
                                <p>{{formatCurrency(total_grandtotal || 0)}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <form class=" float-right form-inline">
                            <div class="stats float-right">
                                <button type="button" class="disabled btn btn-link btn-round">Exportar Pdf</button>
                            </div>
                            <div class="stats float-right">
                                <button type="button" class="disabled btn btn-link btn-round">Exportar Xls</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>