<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Lista de Usuários</h4>
      </div>
      <div class="card-body">
        <div class="table">
          <table class="table" *ngIf="tableData && tableData.headerRow && tableData.dataRows">
            <thead class="text-primary">
              <th *ngFor="let header of tableData.headerRow">
                {{header}}
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData.dataRows" contenteditable (blur)="onBlurMethod($event)">
                <td hidden>
                  {{row.id}}
                </td>
                <td>
                  {{row.createdDate}}
                </td>
                <td>
                  {{row.username}}
                </td>
                <td>
                  {{row.profile}}
                </td>
                <td>
                  {{row.status ? "Ativo" : "Inativo"}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>